/**
This media query mixin uses the mobile first approach.

Usage example.

.component-class {
  // All styles by default apply to mobile.
  .element {
    background-color: green;
  }

  // Styles for tablet
  @include media(md) {
    .element {
      background-color: red;
    }
  }

  // Styles for desktop
  @include media(lg) {
    .element {
      background-color: blue;
    }
  }
}
*/
@mixin media($size, $orientation:"") {
  $orientation_text: get_orientation_text($orientation);
  // Small phones
  @if $size==sm {
    @media screen and (min-width: $screen-sm-min) #{$orientation_text} {
      @content;
    }
  }
  // Tablet
  @if $size==md {
    @media screen and (min-width: $screen-md-min) #{$orientation_text} {
      @content;
    }
  }
  // DESKTOP
  @else if $size==lg {
    @media screen and (min-width: $screen-lg-min) #{$orientation_text} {
      @content;
    }
  }
  // LARGE DESKTOP
  @else if $size==xlg {
    @media screen and (min-width: $screen-xlg-min) #{$orientation_text} {
      @content;
    }
  }
  @else {
    @media screen and (min-width: $size) #{$orientation_text} {
      @content;
    }
  }
}

@function get_orientation_text($orientation:"") {
  $orientation_text: "";
  @if $orientation !="" {
      $orientation_text: "and (orientation: " + $orientation")"
  }
  @return $orientation_text;
}
