.btn-social {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  line-height: 0;
}