.footer {
  position: relative;
  overflow: hidden;
  width: 100%;

  .illustration {
    overflow: hidden;
    position: relative;
		padding-bottom: 75%;
		@include media(md) {
			padding-bottom: 485px;
		}
    
    .inner-wrapper {
      position: relative;
      transform: scale(2);
      transform-origin: bottom;
      position: absolute;
      bottom: -3%;
    }

    .landscape {
      width: 100%;
    }   
    .sign {
      position: absolute;
      bottom: 21%;
      right: 23%;
      transform: scale(0.65);
    }
  }
  .disclaimer {
    position: absolute;
    width: 90%;
    text-align: center;
    bottom: 5px;
    margin: 0;
    padding: 0 15px;
    font-size: 14px;
    color: white;
  }
}

.bird {
	background-image: url(../assets/img/birds-gray.svg);
	background-size: auto 100%;
	width: 88px;
  height: 125px;
  will-change: background-position;
  transform: scale(0.7);
	
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;

	&--one {
		animation-duration: 1s;
		animation-delay: -0.3s;		
	}
	
	&--two {
		animation-duration: 0.9s;
		animation-delay: -0.8s;
	}

}

.bird-container {
	position: absolute;
	bottom: 90px;
	left: -10%;
	transform: scale(0) translateX(-10vw);
  will-change: transform;
	z-index: 10;
	@include media(md) {
		bottom: 200px;
	}
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
	&--one {
		animation-duration: 9s;
		animation-delay: 0;
	}
	
	&--two {
		animation-duration: 12s;
		animation-delay: 1s;
	}
	
}

@keyframes fly-cycle {
	
	100% {
		background-position: -900px 0;
	}
	
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	
}