.header {
  padding-top: 16px;

  .greeting {
    width: 142px;
    height: 74px;
    background-color: var(--accent-color);
    border-top-right-radius: 37px;
    border-bottom-right-radius: 37px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: $padding-left-mobile;
    font-size: 36px;
    font-weight: $font-weight-black;
    margin-bottom: 50px;
  }

  .logo {
    margin-bottom: 38px;
    max-width: 316px;
  }

  .description {
    max-width: $mobile-content-width;
    font-size: 14px;
    line-height: 20px;
    color: $medium-gray-color;
    margin-bottom: 60px;
    @include media(lg) {
      max-width: $desktop-content-width;
    }
  }

  .btn {
    margin-bottom: 30px;
  }

  .arrow-btn {
    margin-bottom: 40px;
    @include media(lg) {
      margin-top: 80px;
    }
  }

  .page-content {
    padding-right: 0;
    @include media(md) {
      position: relative;
      padding-right: 40px;
      padding-left: 40px;

      &:before {
        content: '';
        display: block;
        background-color: $light-gray-color;
        width: 460px;
        height: calc(100% + 40px);
        position: absolute;
        z-index: -1;
        left: 20px;
        top: -20px;
      }
    }
    @include media(lg) {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 80px;
      &:before {
        left: 0;
        height: calc(100% + 20px);
        width: 700px;
      }
    }
  }

  .video-wrapper {
    @include media(md) {
      position: absolute;
      top: 0;
      left: 400px;
    }
    @include media(lg) {
      left: 580px;
      top: -49px;
    }
  }
}