.steps {
  background-color: $light-gray-color;
  padding-top: 25px;
  padding-bottom: 25px;

  .section-title {
    padding-bottom: 25px;
  }

  .steps-list {
    max-width: $mobile-content-width;
    padding: 0;
    margin: 0;
    padding-left: 41px;
    list-style: none;
    @include media(md) {
      display: flex;
      justify-content: space-between;
      max-width: none;
    }
  }

  .step-item {
    margin-bottom: 14px;
  }

  .step-title {
    position: relative;
    font-size: 19px;
    font-weight: 700;
    color: $dark-gray-color;
    margin-bottom: 16px;

    &:before {
      content: '';
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: var(--accent-color);
      position: absolute;
      top: 0;
      left: -41px;
    }
  }

  .step-description {
    padding-bottom: 24px;
    position: relative;
    max-width: 165px;
    font-size: 14px;

    &:before {
      content: '';
      display: block;
      width: 8px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: var(--accent-color);
      position: absolute;
      left: -33px;
      font-size: 14px;
      animation-name: animate_steps;
      animation-duration: 2.5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      @include media(md) {
        animation-name: animate_steps_horizontal;
        height: 3px;
        top: -12px;
      }
    }
  }
}
@keyframes animate_steps {
  0% {
    top: 0;
    bottom: auto;
  }
  33% {
    top: 0;
    bottom: auto;
    height: 8px;
  }
  66% {
    top: 0;
    bottom: auto;
    height: 100%;
  }
  100% {
    top: calc(100% - 8px);
    bottom: auto;
    height: 8px;
  }
}
@keyframes animate_steps_horizontal {
  0% {
    left: 0;
    right: auto;
  }
  33% {
    left: 0;
    right: auto;
    width: 8px;
  }
  66% {
    left: 0;
    right: auto;
    width: 100%;
  }
  100% {
    left: calc(100% - 8px);
    right: auto;
    width: 8px;
  }
}