.video-wrapper {
  position: relative;
  display: none;
  max-width: 200px;
  @include media(md) {
    display: block;
  }
  @include media(lg) {
    max-width: 300px;
  }

  img {
    width: 100%;
  }
}

video {
  position: absolute;
  width: 160px;
  left: 20px;
  top: 30px;
  outline: 0;
  @include media(lg) {
    width: 241px;
    left: 30px;
    top: 52px;
  }
}